@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    margin: 0;
    padding: 0;
}

.content {
    font-size: 1.4em;
}

.header {
    background: rgb(230,230,230);
    border-right: thin solid rgb(180,180,180);
    border-bottom: thin solid rgb(180,180,180);
    padding: 0.5em;
    font-size: 1.9em;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

article.maincontent {
    padding: 0.8em;
    padding-left: 1.5em;

    font-weight: 400;
    font-family: 'Open Sans', serif;
    font-size: 0.75em;
}

.subheader {
    border-top: thin solid rgb(180,180,180);
    font-size: 0.8em;
    padding: 1.3em;
    
}

a:hover {
    color: purple;
}

#logo {
    position: relative;
    float: right;
    top: 105px;
}

ul {
    
    padding-left: 2.0em;
    margin: 0px;
}

li {
    font-size: 1.0em;
    padding: 0.2em;
    margin-left: 20px;
}

a {
    text-decoration: none;
}
